
  /* Full-screen blur background */
  .loaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(113, 110, 110, 0.7); 
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Loader animation */
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Logo animation */
  .logo {
    animation: bounce 1.5s infinite alternate ease-in-out;
  }
  
  /* Bounce animation */
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  